* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(train.webp);
  background-size: cover;
}

.container {
  margin: 0 auto;
  color: white;
}

h1 {
  text-transform: uppercase;
  font-size: 2.5rem;
}

.box {
  font-size: 1.5rem;
  padding: 1rem;
}
